/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 400px;
  max-width: 1000px;
  padding: 20px;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
}

h1, h3 {
  font-weight: bold;
  opacity: 0.6;
  text-align: center;
}
h1{
  color: 	#008080;
  font-size: 40px;
}

h3{
  color: #222222;
  margin-bottom: 50px;
}
main{
  margin: 0 auto; 
  margin-top: 50px; 
  box-shadow: 0px 0px 10px gray; 
  padding: 20px; 
  background: #e8ffec; 
  color: black;
  border-radius: 5px;
}


.bold {
  font-weight: bold;
}

.urls{
  opacity: 0.6;
  margin-left: 50px;
  margin-bottom: 50px;
}


footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: 	#008080;
}
#logo{
  width: 200px;
  height: 200px;
}


.nicejob {
  text-decoration: line-through;
}
